/* The style sheet for my website maltby.io */

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Papyrus, sans-serif;
}

h1 {
    background-color: white;
}

h2 {
    background-color: black;

}

img {
    height: 380px;
}

.cover {
    width: 100%;
    object-fit: cover;
}

div #banner {
       position: relative;
       top: 0;
       left: 0;
       background-color: #000000;
       width: 100%;
     }

h3 {
    background-color: white;
}

.heading {
    position: static;
    font-size: 40px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;

}

h4 {
    background-color: dimgray;
    color: white;
}

.container2 {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(img/background2.png);
    font-size: 40px;
}

.container3 {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(img/background2.png);
}

.container4 {
    position: relative;
    text-align: center;
    color: black;
    background-color: white;
}

.position {
    position: static;
    left: 15%;
    vertical-align: middle;
}

.position2 {
    position: static;
    left: 75%;
    text-align: left;
    vertical-align: middle;
}